<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remove Background from Image</title>
    <link
      rel="shortcut icon"
      href="https://www.remove.bg/favicon.ico"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    
    <header>

  </header>

    <div class="flex flex-col items-center justify-center">
      <h1 class="text-center m-5 bg-blue-600 px-4 py-3 rounded-full text-white">
        Upload Image
      </h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required />
        <button
          class="block mx-auto my-4 text-center m-5 bg-orange-600 px-4 py-3 rounded-full text-white"
          type="submit"
        >
          Upload
        </button>
      </form>
    </div>

    <script>
      let sidebarVisible = false;
    
      function showSideBar() {
        const sidebar = document.querySelector('.features');
        const video = document.querySelector(".video");
        const line1 = document.querySelector(".hamburger .line:nth-child(1)");
        const line2 = document.querySelector(".hamburger .line:nth-child(2)");
        const line3 = document.querySelector(".hamburger .line:nth-child(3)");
        if (sidebarVisible) {
          sidebar.style.transform = 'translateX(-140%)';
          video.style.marginTop = "5vw";
          line1.style.transform = 'rotate(0deg) translate(0px,0px)';
          line2.style.transform = 'rotate(0deg) translate(0px,0px)';
          line3.style.display = '';
        } else {
          sidebar.style.transform = 'translateX(0)';
          sidebar.style.height = '46vw';
          sidebar.style.width = '90vw';
          video.style.marginTop = "52vw";
          line1.style.transform = 'rotate(45deg) translate(3px,3px)';
          line2.style.transform = 'rotate(-45deg) translate(3px,-3px)';
          line3.style.display = 'none';
        }
        sidebarVisible = !sidebarVisible;
      }
      
    </script>
    
  </body>
</html>

